/* COLUMNS DESIGNED*/

*{

    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing:border-box;
    /*Esto indica que el relleno y el borde estan incluidos en el ancho total y la altura de los elementos*/
    /*Tamaño de caja que no aplique el borde de caja */

}
.contenedor{

    position: relative;
    margin: auto;
    width: 100%;
    height: auto;



}

.fila{
    position: relative;
    margin: auto;
    width: 100%;
    height:auto;
    /*Las columnas dentro de una fila estan flotando a la izquierda, y por lo tanto se toman duera del flujo de la pagina, y otros elementos seran colocados como si no
    fueran de las columnas, para evitar esto, vamos añadir un estilo  que despeje al flujo */
    clear: both;
    /*Ocupan espacio en la caja de nodos*/
    display: table;
    /*display table: permite agregar altura*/
}
/*
.col-12{
    width: 100%;
    background: red;
    border: 1px solid black;
}

.col-6{
    float: left;
    width: 50%;
    background-color: green;
    border:1px solid black;
}

.col-4{

    float: left;
    width: 33.33%;
    background-color: pink;
    border: 1px solid black;
}
*/

/*El total de columnas es 12 para saber el total de las otras 11 debemos hacer una regla de 3: n*100/12 */

[class*="col-"]{
    float: left;
    padding: 30px;
    border: 1px solid black;
}

.col-12{
    width: 100%;
}
.col-11{
    width: 91.66666667%;
}
.col-10{
    width:83.33333333%;
}
.col-9{
    width: 75%;
}
.col-8{
    width: 66.66666667%;
}
.col-7{
    width: 58.33333333%;
}
.col-6{
    width: 50%;
}
.col-5{
    width: 41.66666667%;
}
.col-4{
    width: 33.33333333%;
}
.col-3{
    width: 25%;
}
.col-2{
    width:16.66666667%;
}
.col-1{
    width: 8.33333333%;
}
